# Person Claims

In [1]:
arquivo = open('../relacoes.txt')

In [2]:
relacoes = {}
for line in arquivo:
    texto = []
    texto.append(line.split())
    relacoes[texto[0][1]] = texto[0][0]

In [3]:
relacoes

{'P101': 'campoDeTrabalho',
 'P102': 'membroDoPartidoPolitico',
 'P103': 'idiomaNativo',
 'P1038': 'parente',
 'P106': 'ocupacao',
 'P1066': 'alunoDe',
 'P108': 'empregador',
 'P109': 'assinatura',
 'P119': 'localDoEnterro',
 'P1196': 'modoDeMorte',
 'P1290': 'padrinho',
 'P1352': 'classificacao',
 'P140': 'religiao',
 'P1442': 'imagemDaSepultura',
 'P1477': 'nomeDeNascimento',
 'P1532': 'paisParaOEsporte',
 'P1559': 'nomeNoIdiomaNativo',
 'P157': 'mortoPor',
 'P166': 'premioRecebido',
 'P172': 'grupoEtnico',
 'P184': 'orientadorDeDoutorado',
 'P185': 'doutorando',
 'P19': 'localDeNascimento',
 'P1971': 'numeroDeFilhos',
 'P20': 'localDaMorte',
 'P21': 'sexoGenero',
 'P22': 'pai',
 'P2323': 'IdentificacaoDeAtletaDoComiteOlimpicoSueco',
 'P2332': 'IdDoDicionarioDeHistoriadoresDeArte',
 'P237': 'brasaoDeArmas',
 'P25': 'mae',
 'P26': 'conjuge',
 'P263': 'residenciaOficial',
 'P27': 'paisDeCidadania',
 'P3150': 'aniversario',
 'P3373': 'irmao',
 'P3448': 'padrasto',
 'P39': 'cargoOcupado',
 'P40': 'crianca',
 'P413': 'PosicaoJogadaEmEquipeOuEspecialidade',
 'P451': 'parceiro',
 'P463': 'membroDe',
 'P509': 'causaDeMorte',
 'P54': 'membroDaEquipeEsportiva',
 'P551': 'residencia',
 'P555': 'registroDeDuplas',
 'P564': 'registroIndividual',
 'P569': 'dataDeNascimento',
 'P570': 'dataDoFalecimento',
 'P66': 'larAncestral',
 'P69': 'educadoEm',
 'P800': 'trabalhoNotavel',
 'P802': 'estudante',
 'P91': 'orientacaoSexual',
 'P94': 'imagemDoBrasaoDeArmas'}

In [4]:
from database import database

In [5]:
db = database.Database()

In [6]:
for key in relacoes:
    relation = [key,relacoes[key]]
    print(relation)
    db.insertRelation(relation)

['P1196', 'modoDeMorte']
INSERT INTO relation VALUES('P1196','modoDeMorte')
['P172', 'grupoEtnico']
INSERT INTO relation VALUES('P172','grupoEtnico')
['P39', 'cargoOcupado']
INSERT INTO relation VALUES('P39','cargoOcupado')
['P1038', 'parente']
INSERT INTO relation VALUES('P1038','parente')
['P3448', 'padrasto']
INSERT INTO relation VALUES('P3448','padrasto')
['P26', 'conjuge']
INSERT INTO relation VALUES('P26','conjuge')
['P102', 'membroDoPartidoPolitico']
INSERT INTO relation VALUES('P102','membroDoPartidoPolitico')
['P66', 'larAncestral']
INSERT INTO relation VALUES('P66','larAncestral')
['P413', 'PosicaoJogadaEmEquipeOuEspecialidade']
INSERT INTO relation VALUES('P413','PosicaoJogadaEmEquipeOuEspecialidade')
['P802', 'estudante']
INSERT INTO relation VALUES('P802','estudante')
['P103', 'idiomaNativo']
INSERT INTO relation VALUES('P103','idiomaNativo')
['P108', 'empregador']
INSERT INTO relation VALUES('P108','empregador')
['P20', 'localDaMorte']
INSERT INTO relation VALUES('P20','localDaMorte')
['P94', 'imagemDoBrasaoDeArmas']
INSERT INTO relation VALUES('P94','imagemDoBrasaoDeArmas')
['P69', 'educadoEm']
INSERT INTO relation VALUES('P69','educadoEm')
['P22', 'pai']
INSERT INTO relation VALUES('P22','pai')
['P3373', 'irmao']
INSERT INTO relation VALUES('P3373','irmao')
['P1532', 'paisParaOEsporte']
INSERT INTO relation VALUES('P1532','paisParaOEsporte')
['P185', 'doutorando']
INSERT INTO relation VALUES('P185','doutorando')
['P157', 'mortoPor']
INSERT INTO relation VALUES('P157','mortoPor')
['P555', 'registroDeDuplas']
INSERT INTO relation VALUES('P555','registroDeDuplas')
['P570', 'dataDoFalecimento']
INSERT INTO relation VALUES('P570','dataDoFalecimento')
['P2323', 'IdentificacaoDeAtletaDoComiteOlimpicoSueco']
INSERT INTO relation VALUES('P2323','IdentificacaoDeAtletaDoComiteOlimpicoSueco')
['P1066', 'alunoDe']
INSERT INTO relation VALUES('P1066','alunoDe')
['P27', 'paisDeCidadania']
INSERT INTO relation VALUES('P27','paisDeCidadania')
['P800', 'trabalhoNotavel']
INSERT INTO relation VALUES('P800','trabalhoNotavel')
['P19', 'localDeNascimento']
INSERT INTO relation VALUES('P19','localDeNascimento')
['P263', 'residenciaOficial']
INSERT INTO relation VALUES('P263','residenciaOficial')
['P1477', 'nomeDeNascimento']
INSERT INTO relation VALUES('P1477','nomeDeNascimento')
['P237', 'brasaoDeArmas']
INSERT INTO relation VALUES('P237','brasaoDeArmas')
['P91', 'orientacaoSexual']
INSERT INTO relation VALUES('P91','orientacaoSexual')
['P1971', 'numeroDeFilhos']
INSERT INTO relation VALUES('P1971','numeroDeFilhos')
['P21', 'sexoGenero']
INSERT INTO relation VALUES('P21','sexoGenero')
['P119', 'localDoEnterro']
INSERT INTO relation VALUES('P119','localDoEnterro')
['P106', 'ocupacao']
INSERT INTO relation VALUES('P106','ocupacao')
['P451', 'parceiro']
INSERT INTO relation VALUES('P451','parceiro')
['P109', 'assinatura']
INSERT INTO relation VALUES('P109','assinatura')
['P25', 'mae']
INSERT INTO relation VALUES('P25','mae')
['P551', 'residencia']
INSERT INTO relation VALUES('P551','residencia')
['P2332', 'IdDoDicionarioDeHistoriadoresDeArte']
INSERT INTO relation VALUES('P2332','IdDoDicionarioDeHistoriadoresDeArte')
['P1442', 'imagemDaSepultura']
INSERT INTO relation VALUES('P1442','imagemDaSepultura')
['P40', 'crianca']
INSERT INTO relation VALUES('P40','crianca')
['P509', 'causaDeMorte']
INSERT INTO relation VALUES('P509','causaDeMorte')
['P166', 'premioRecebido']
INSERT INTO relation VALUES('P166','premioRecebido')
['P54', 'membroDaEquipeEsportiva']
INSERT INTO relation VALUES('P54','membroDaEquipeEsportiva')
['P569', 'dataDeNascimento']
INSERT INTO relation VALUES('P569','dataDeNascimento')
['P564', 'registroIndividual']
INSERT INTO relation VALUES('P564','registroIndividual')
['P1290', 'padrinho']
INSERT INTO relation VALUES('P1290','padrinho')
['P140', 'religiao']
INSERT INTO relation VALUES('P140','religiao')
['P1559', 'nomeNoIdiomaNativo']
INSERT INTO relation VALUES('P1559','nomeNoIdiomaNativo')
['P101', 'campoDeTrabalho']
INSERT INTO relation VALUES('P101','campoDeTrabalho')
['P1352', 'classificacao']
INSERT INTO relation VALUES('P1352','classificacao')
['P184', 'orientadorDeDoutorado']
INSERT INTO relation VALUES('P184','orientadorDeDoutorado')
['P3150', 'aniversario']
INSERT INTO relation VALUES('P3150','aniversario')
['P463', 'membroDe']
INSERT INTO relation VALUES('P463','membroDe')